body{
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "EncondeSansBold";
  src: local("EncondeSansBold"),
   url("./fonts/EncodeSans/EncodeSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "EncondeSansRegular";
  src: local("EncondeSansRegular"),
   url("./fonts/EncodeSans/EncodeSans-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "EncondeSansLight";
  src: local("EncondeSansLight"),
   url("./fonts/EncodeSans/EncodeSans-Light.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "YaroCutBold";
  src: local("YaroCutBold"),
   url("./fonts/Yaro/YaroCut-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "MarcherRegular";
  src: local("MarcherRegular"),
   url("./fonts/Marcher/Marcher-Regular.ttf") format("truetype");
  font-weight: bold;
}

